<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Education Platform</title>
  </head>
  <body>
    <header>
      <h1>Education Platform</h1>
      <nav>
        <ul>
          <li><a href="{% url 'course_list' %}">Courses</a></li>
          <li><a href="{% url 'student_list' %}">Students</a></li>
          <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
